@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');


* {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  scroll-behavior: smooth;
}

html {
  background: var(--bg-color);
  transition: background 0.5s ease;
}

@media screen and (min-width: 800px) {
  .CalendarBottomActions {
    display: none;
  }
}


@media screen and (max-width: 800px) {
  .Calendar .CalendarBody > .CalendarColumn .CalendarCell {
    border-left: none !important;
  }

  //::-webkit-scrollbar {
  //  display: none;
  //}

  .Login {
    align-items: flex-start !important;
  }


  .ModalBackdrop {

    position: fixed;
    inset: 0;
    padding: 0 !important;


    .Modal {
      border: none !important;;
      border-radius: 0 !important;

      .ModalContent {
        max-height: 80% !important;

      }

      .ModalFooter {
        background: var(--bg-color);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 15px;
      }
    }
  }

  .CalendarHeader {
    border-width: 0 0 1px 0 !important;
  }

  .CalendarEvent {
    right: 15px !important;
    left: 15px !important;
  }


  .MainHeader {
    padding: 10px !important;
  }

  .MainHeaderContent .MainHeaderList {
    width: 100% !important;
  }

  .MainHeaderRight {
    display: none !important;
  }

  .CalendarHeader:first-child .CalendarDayHeaderNot {
    display: none;
  }

  .CalendarHeaderHours {

    grid-column: span 7/span 7 !important;

    .CalendarDayHeader {

      z-index: 200 !important;
      width: 100%;
    }
  }
}