:root {
    //--primary: #0F7173;
    --primary: #076583;
    --primary-hover: #0a7ca1;
    --primary-color: white;

    --secondary: #292A35;
    --secondary-hover: #1f202a;
    --secondary-border: #313248;
    --secondary-color: #858699;


    --text-heading-color: white;
    --text-subtitle-color: #9d9d9d;

    --bg-color: #181922;

}

//.dark-mode {
//    --primary: #076583;
//    --primary-hover: #0a7ca1;
//    --primary-color: white;
//
//    --text-heading-color: white;
//    --text-subtitle-color: #9d9d9d;
//
//    --bg-color: #181922;
//}
